VITE_FIREBASE_API_KEY=AIzaSyDa6xpiG3saUWdP1IT1M7bCyav-30uFw0A
VITE_FIREBASE_AUTH_DOMAIN=landslide-watch-sih.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=landslide-watch-sih
VITE_FIREBASE_STORAGE_BUCKET=landslide-watch-sih.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=362198479627
VITE_FIREBASE_APP_ID=1:362198479627:web:7977866b06d16f449ae80e
VITE_API_URL=http://localhost:4000
